{% extends 'base.html' %}
{% block base %}
<div class="w-full p-2">
    <div class="grid md:grid-cols-2">
        <div>
            <h1 class="text-gray-700 text-shadow-lg">Course Preview</h1>
            <iframe width="560" height="315" src="{{course.thumbnail}}" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="p-3 flex flex-col justify-around gap-2">
            <h2 class="text-2xl text-shadow-lg">{{course.title}}</h2>
            <h2 class="text-lg text-right">
                <i class="fa-solid fa-chalkboard-user" style="color: rgb(14, 14, 13);"></i>
                {{course.instructor}}</h2>
            <div>
                {% for i in course.category.all %}
                <span>{{i}}</span><b>|</b>
                {% endfor %}
            </div>
            {% if course.is_free %}
            <h3 class="bg-green-500">FREE</h3>
            {% else %}
            
            <h3 class="text-lg">Rs.{{course.price}}</h3>
            {% endif %}
            
            <p class="text-justify">{{course.description}}</p>
            <h4 class="text-lg">Created At:<b>{{course.created_at}}</b></h4>
            <h4 class="text-lg">Updated At:<b>{{course.updated_at}}</b></h4>
            <a href="{% url 'addtocart' course.id %}" class="w-full bg-sky-700 text-white text-xl px-3 py-1 rounded border-2
            border-blue-700 shadow-2xl hover:bg-green-600">
            <i class="fa-solid fa-cart-arrow-down" style="color: rgb(248, 253, 252);"></i>
            Add To Cart</a>
            <a href="{% url 'addtowish' course.id %}" class="w-full bg-red-700 text-white text-xl px-3 py-1 rounded border-2
            border-blue-700 shadow-2xl hover:bg-red-900">
            <i class="fa-solid fa-heart-circle-plus" style="color: rgb(255, 255, 255);"></i>
             Add To Wishlist</a>

        </div>
    </div>
    <div>
    <h3 class="text-3xl">Modules and Lessons</h3>
    <div class="max-w-screen mx-auto p-10 bg-white">
    <div id="accordion-flush" data-accordion="collapse"
		data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
		data-inactive-classes="text-black dark:text-gray-400">

        {% for module in course.modules.all %}
		<h3 id="accordion-flush-heading-1">
			<button type="button"
				class="flex items-center justify-between w-full py-5 px-4 font-medium text-left border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
				data-accordion-target="#accordion-flush-body-{{module.id}}" aria-expanded="true"
				aria-controls="accordion-flush-body-1">
				<span>{{module}}</span>
				<svg data-accordion-icon="" class="w-6 h-6 shrink-0 rotate-180" fill="currentColor" viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
						clip-rule="evenodd"></path>
				</svg>
			</button>
		</h3>
        <div id="accordion-flush-body-{{module.id}}" class="" aria-labelledby="accordion-flush-heading-1">
			<div class="py-5 border-b border-gray-200 dark:border-gray-700">
                {% for lesson in module.lessons.all %}
				<p class="mb-2 text-gray-500 dark:text-gray-400">{{lesson}}
					</p>
                {% endfor %}
			</div>
        </div>
    
    {% endfor %}
</div>
</div>
<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>



{% endblock base %}